@import "tailwindcss";

@theme {
  --font-serif: "Averia Serif Libre", serif;
  --font-geist: "Geist", sans-serif;

  --color-page-bg: #15408f;
  --color-page-fg: #d1e1ff;

  --animate-scale-pulse: scale-pulse 3s infinite ease-in-out;
  --animate-fade-in: fade-in 1s ease-out forwards;

  @keyframes scale-pulse {
    0%,
    100% {
      transform: scale(1);
      opacity: 0.85;
    }
    50% {
      transform: scale(1.05);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
